# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [66]:
import pandas as pd
import numpy as np

df = pd.read_csv('demo01.csv', na_values=['', ' ', 'NA', 'N/A'])

# avaliar as variáveis
df.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False

In [32]:
# tipos das variáveis
df.dtypes

sexo                      object
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [33]:
# Quantidade de missings

df.replace('', np.nan, inplace=True)
df.replace(' ', np.nan, inplace=True)

display(df.count()) # todas as colunas contém o mesmo número de dados 

# verificando se há algum valor missing classificado que necessita ser retificado
for column in df.columns:
    print(df[column].unique())

df[df.isnull().any(axis=1)]
# aparentemente, não há nenhum valor missing

sexo                     16650
posse_de_veiculo         16650
posse_de_imovel          16650
qtd_filhos               16650
tipo_renda               16650
educacao                 16650
estado_civil             16650
tipo_residencia          16650
idade                    16650
tempo_emprego            16650
possui_celular           16650
possui_fone_comercial    16650
possui_fone              16650
possui_email             16650
qt_pessoas_residencia    16650
mau                      16650
dtype: int64

['M' 'F']
['Y' 'N']
['Y' 'N']
[ 0  1  3  2  4  5 14  7]
['Working' 'Commercial associate' 'State servant' 'Pensioner' 'Student']
['Secondary / secondary special' 'Higher education' 'Incomplete higher'
 'Lower secondary' 'Academic degree']
['Married' 'Single / not married' 'Civil marriage' 'Widow' 'Separated']
['House / apartment' 'Rented apartment' 'Municipal apartment'
 'With parents' 'Co-op apartment' 'Office apartment']
[58.83287671 52.35616438 46.22465753 ... 54.93972603 35.83561644
 43.3890411 ]
[ 3.10684932  8.35890411  2.10684932 ... 22.35890411  1.66027397
 30.88219178]
[1]
[0 1]
[0 1]
[0 1]
[ 2.  1.  5.  3.  4.  6. 15.  9.  7.]
[False  True]

Empty DataFrame
Columns: [sexo, posse_de_veiculo, posse_de_imovel, qtd_filhos, tipo_renda, educacao, estado_civil, tipo_residencia, idade, tempo_emprego, possui_celular, possui_fone_comercial, possui_fone, possui_email, qt_pessoas_residencia, mau]
Index: []

In [18]:
# Distribuição da variável resposta (mau)
df['mau'].value_counts()

mau
False    16260
True       390
Name: count, dtype: int64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável.
    Dica:
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis,
        3. conte o número de categorias dessa variável
        4. acumule essa informação de 3. na lista que você criou em 1.
        5. No final, essa lista pode ser atribuída à nossa variável.

In [42]:
variaveis = df.columns # series com os nomes das colunas
tipos_variaveis = df.dtypes.values # series com os tipos de dados


qtd_categorias = []
for variavel in variaveis:
    if df[variavel].dtype == 'object':
        qtd_categorias.append(df[variavel].nunique()) # contando os valores possíveis quando é categórico
    else:
        qtd_categorias.append(np.nan) # NaN quando não é categórico
        

# criando o dataframe com as series criadas acima
metadados = pd.DataFrame({
    'Variavel': variaveis,
    'Tipo_de_dados': tipos_variaveis,
    'Qtd_categorias': qtd_categorias
}, index=None)
        
metadados

                 Variavel Tipo_de_dados  Qtd_categorias
0                    sexo        object             2.0
1        posse_de_veiculo        object             2.0
2         posse_de_imovel        object             2.0
3              qtd_filhos         int64             NaN
4              tipo_renda        object             5.0
5                educacao        object             5.0
6            estado_civil        object             5.0
7         tipo_residencia        object             6.0
8                   idade       float64             NaN
9           tempo_emprego       float64             NaN
10         possui_celular         int64             NaN
11  possui_fone_comercial         int64             NaN
12            possui_fone         int64             NaN
13           possui_email         int64             NaN
14  qt_pessoas_residencia       float64             NaN
15                    mau          bool             NaN

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [82]:
# Criando listas só com as variáveis categóricas para criar os dummies (diferenciando as variáveis com 2 categorias das demais)
lista_categoricos_2 = list(metadados.loc[metadados['Qtd_categorias'] == 2]['Variavel'])
lista_categoricos = list(metadados.loc[metadados['Qtd_categorias'] > 2]['Variavel'])
print(lista_categoricos)
print(lista_categoricos_2)

['tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia']
['sexo', 'posse_de_veiculo', 'posse_de_imovel']

In [81]:
# criando um novo dataframe com as colunas de dummies para processar mais a frente
df_dummies = df.copy()
for variavel in lista_categoricos_2:
    df_dummies = pd.get_dummies(df_dummies, columns=[variavel], drop_first=True)
for variavel in lista_categoricos:
    df_dummies = pd.get_dummies(df_dummies, columns=[variavel])

df_dummies.dtypes

qtd_filhos                                  int64
idade                                     float64
tempo_emprego                             float64
possui_celular                              int64
possui_fone_comercial                       int64
possui_fone                                 int64
possui_email                                int64
qt_pessoas_residencia                     float64
mau                                          bool
sexo_M                                       bool
posse_de_veiculo_Y                           bool
posse_de_imovel_Y                            bool
tipo_renda_Commercial associate              bool
tipo_renda_Pensioner                         bool
tipo_renda_State servant                     bool
tipo_renda_Student                           bool
tipo_renda_Working                           bool
educacao_Academic degree                     bool
educacao_Higher education                    bool
educacao_Incomplete higher                   bool
educacao_Lower secondary                     bool
educacao_Secondary / secondary special       bool
estado_civil_Civil marriage                  bool
estado_civil_Married                         bool
estado_civil_Separated                       bool
estado_civil_Single / not married            bool
estado_civil_Widow                           bool
tipo_residencia_Co-op apartment              bool
tipo_residencia_House / apartment            bool
tipo_residencia_Municipal apartment          bool
tipo_residencia_Office apartment             bool
tipo_residencia_Rented apartment             bool
tipo_residencia_With parents                 bool
dtype: object

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [99]:
# possui_email
crosstab_email = pd.crosstab(df['possui_email'], df['mau'], normalize='index')

# posse_de_veiculo
crosstab_veiculo = pd.crosstab(df['posse_de_veiculo'], df['mau'], normalize='index')


display(crosstab_veiculo)
display(crosstab_email)


# proporções de mau = 1 para cada categoria de possui_email
proporcao_email = df.groupby('possui_email')['mau'].mean()

# proporções de mau = 1 para cada categoria de posse_de_veiculo
proporcao_veiculo = df.groupby('posse_de_veiculo')['mau'].mean()

print('\nProporção de mau = 1 para possui_email:')
display(proporcao_email)

print('\nProporção de mau = 1 para posse_de_veiculo:')
display(proporcao_veiculo)

# Ambas as variáveis parecem ser muito pouco discriminatórias, pois a proporção é muito parecida tanto entre quem possui quanto
# entre quem não possui veículo ou email, mas eu escolheria a variável 'possui_email' por ter uma diferença pouca coisa mais 
# significativa do que a variável 'posse_de_veiculo'.

mau                  False     True
posse_de_veiculo
N                 0.975732  0.024268
Y                 0.977905  0.022095

mau              False     True
possui_email
0             0.976269  0.023731
1             0.979730  0.020270

Proporção de mau = 1 para possui_email:

possui_email
0    0.023731
1    0.020270
Name: mau, dtype: float64

Proporção de mau = 1 para posse_de_veiculo:

posse_de_veiculo
N    0.024268
Y    0.022095
Name: mau, dtype: float64

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [95]:
df_dummies.to_csv('Mod07_Tarefa_01_df_dummies.csv', index=False)